In [18]:
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
import mysql.connector

#command: connection details â€” edit for TiDB or MySQL
config = {
    "host": "127.0.0.1",   # TiDB Cloud endpoint or localhost
    "user": "root",
    "password": "root123",
    "database": "agriculture_db",  # database name
    "port": 3307   # TiDB Cloud uses 4000
}#**config means:Unpack the dictionary and pass each key-value pair as a parameter

#command: connect to the database
conn = mysql.connector.connect(**config) #create connection b/w py and sql
cursor = conn.cursor(buffered=True) #cursor-Allows running SQL queries,stores all rows in a temporary buffer
print("âœ… Connected to MySQL / XAMP DB")

âœ… Connected to MySQL / XAMP DB

In [20]:
df = pd.read_csv("Cleaned_Agriculture_Data.csv")
print("ðŸ“¥ CSV Loaded:", df.shape)

ðŸ“¥ CSV Loaded: (16146, 80)

In [21]:
# 1. INSERT STATES TABLE
unique_states = df[['State Code', 'State Name']].drop_duplicates()

for _, row in unique_states.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO states (state_code, state_name)
        VALUES (%s, %s)
    """, (row['State Code'], row['State Name']))

conn.commit()
print("âœ… States Inserted")

âœ… States Inserted

In [22]:
# 2. INSERT DISTRICTS TABLE
unique_districts = df[['Dist Code', 'Dist Name', 'State Name']].drop_duplicates()

for _, row in unique_districts.iterrows():
    cursor.execute("SELECT state_id FROM states WHERE state_name=%s", (row['State Name'],))
    state_id = cursor.fetchone()[0]

    cursor.execute("""
        INSERT IGNORE INTO districts (dist_code, district_name, state_id)
        VALUES (%s, %s, %s)
    """, (row['Dist Code'], row['Dist Name'], state_id))

conn.commit()
print("âœ… Districts Inserted")

âœ… Districts Inserted

In [23]:
# 3. INSERT CROP DATA (Fact Table)
# Build the list of dataframe columns (in the exact order) that should map to DB columns.
cols = [
    'RICE AREA (1000 ha)', 'RICE PRODUCTION (1000 tons)', 'RICE YIELD (Kg per ha)',
    'WHEAT AREA (1000 ha)', 'WHEAT PRODUCTION (1000 tons)', 'WHEAT YIELD (Kg per ha)',
    'SORGHUM AREA (1000 ha)', 'SORGHUM PRODUCTION (1000 tons)', 'SORGHUM YIELD (Kg per ha)',
    'PEARL MILLET AREA (1000 ha)', 'PEARL MILLET PRODUCTION (1000 tons)', 'PEARL MILLET YIELD (Kg per ha)',
    'MAIZE AREA (1000 ha)', 'MAIZE PRODUCTION (1000 tons)', 'MAIZE YIELD (Kg per ha)',
    'OILSEEDS AREA (1000 ha)', 'OILSEEDS PRODUCTION (1000 tons)', 'OILSEEDS YIELD (Kg per ha)',
    'SOYABEAN AREA (1000 ha)', 'SOYABEAN PRODUCTION (1000 tons)', 'SOYABEAN YIELD (Kg per ha)',
    'COTTON AREA (1000 ha)', 'COTTON PRODUCTION (1000 tons)', 'COTTON YIELD (Kg per ha)',
    'SUGARCANE AREA (1000 ha)', 'SUGARCANE PRODUCTION (1000 tons)', 'SUGARCANE YIELD (Kg per ha)',
    'FRUITS AREA (1000 ha)', 'VEGETABLES AREA (1000 ha)', 'FRUITS AND VEGETABLES AREA (1000 ha)',
    'POTATOES AREA (1000 ha)', 'ONION AREA (1000 ha)', 'FODDER AREA (1000 ha)',
    'FINGER MILLET AREA (1000 ha)', 'FINGER MILLET PRODUCTION (1000 tons)', 'FINGER MILLET YIELD (Kg per ha)',
    'BARLEY AREA (1000 ha)', 'BARLEY PRODUCTION (1000 tons)', 'BARLEY YIELD (Kg per ha)',
    'CHICKPEA AREA (1000 ha)', 'CHICKPEA PRODUCTION (1000 tons)', 'CHICKPEA YIELD (Kg per ha)',
    'PIGEONPEA AREA (1000 ha)', 'PIGEONPEA PRODUCTION (1000 tons)', 'PIGEONPEA YIELD (Kg per ha)',
    'MINOR PULSES AREA (1000 ha)', 'MINOR PULSES PRODUCTION (1000 tons)', 'MINOR PULSES YIELD (Kg per ha)',
    'GROUNDNUT AREA (1000 ha)', 'GROUNDNUT PRODUCTION (1000 tons)', 'GROUNDNUT YIELD (Kg per ha)',
    'SESAMUM AREA (1000 ha)', 'SESAMUM PRODUCTION (1000 tons)', 'SESAMUM YIELD (Kg per ha)',
    'RAPESEED AND MUSTARD AREA (1000 ha)', 'RAPESEED AND MUSTARD PRODUCTION (1000 tons)', 'RAPESEED AND MUSTARD YIELD (Kg per ha)',
    'SAFFLOWER AREA (1000 ha)', 'SAFFLOWER PRODUCTION (1000 tons)', 'SAFFLOWER YIELD (Kg per ha)',
    'CASTOR AREA (1000 ha)', 'CASTOR PRODUCTION (1000 tons)', 'CASTOR YIELD (Kg per ha)',
    'LINSEED AREA (1000 ha)', 'LINSEED PRODUCTION (1000 tons)', 'LINSEED YIELD (Kg per ha)',
    'SUNFLOWER AREA (1000 ha)', 'SUNFLOWER PRODUCTION (1000 tons)', 'SUNFLOWER YIELD (Kg per ha)'
]

# Build SQL column list including district_id and year, preserving the same order.
sql_columns = ['district_id', 'year'] + [f'`{c}`' for c in cols]

# Prepare the parameter placeholders to match the number of values dynamically.
placeholders = ', '.join(['%s'] * len(sql_columns))
columns_sql = ',\n            '.join(sql_columns)

insert_sql = f"""
    INSERT INTO crop_data (
        {columns_sql}
    ) VALUES (
        {placeholders}
    )
"""

for _, row in df.iterrows():
    cursor.execute("SELECT district_id FROM districts WHERE dist_code=%s", (row['Dist Code'],))
    district_id = cursor.fetchone()[0]

    # Build values in the same order as sql_columns
    values = [district_id, row['Year']] + [row[c] for c in cols]

    # Execute with matching number of placeholders and values
    cursor.execute(insert_sql, tuple(values))

conn.commit()
print("ðŸŒ¾ All crop data inserted successfully!")

cursor.close()
conn.close()

ðŸŒ¾ All crop data inserted successfully!

Questions to be answered:(SQL)

In [27]:
#1.Year-wise Trend of Rice Production Across States (Top 3)
query = """
SELECT 
    year,
    state_name,
    SUM(`RICE PRODUCTION (1000 tons)`) AS total_rice_production
FROM crop_data c
JOIN districts d ON c.district_id = d.district_id
JOIN states s ON d.state_id = s.state_id
GROUP BY year, state_name
ORDER BY year, total_rice_production DESC
LIMIT 3;
"""

cursor.execute(query)
out=cursor.fetchall()
from tabulate import tabulate  #predefined module and submodule
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql')) #keywords arguments and psql postgray sql

+--------+--------------+-------------------------+
|   year | state_name   |   total_rice_production |
|--------+--------------+-------------------------|
|   1966 | West Bengal  |             4.8194e+06  |
|   1966 | Tamil Nadu   |             3.793e+06   |
|   1966 | Orissa       |             3.69179e+06 |
+--------+--------------+-------------------------+

In [28]:
#2.Top 5 Districts by Wheat Yield Increase Over the Last 5 Years
query = """
SELECT 
    d.district_name,
    (MAX(c.`WHEAT YIELD (Kg per ha)`) - MIN(c.`WHEAT YIELD (Kg per ha)`)) AS yield_increase
FROM crop_data c
JOIN districts d ON c.district_id = d.district_id
WHERE c.year >= (SELECT MAX(year) FROM crop_data) - 4
GROUP BY d.district_name
ORDER BY yield_increase DESC
LIMIT 5;
"""

cursor.execute(query)
out = cursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[c[0] for c in cursor.description], tablefmt="psql"))

+-----------------+------------------+
| district_name   |   yield_increase |
|-----------------+------------------|
| Adilabad        |          3696.11 |
| Nadia           |          3405.97 |
| Hyderabad       |          3268.42 |
| Thane           |          2833.33 |
| Kanpur          |          2750.47 |
+-----------------+------------------+

In [29]:
#3.States with the Highest Growth in Oilseed Production (5-Year Growth Rate)
query = """
SELECT 
    s.state_name,
    ((SUM(CASE WHEN c.year = (SELECT MAX(year) FROM crop_data) THEN c.`OILSEEDS PRODUCTION (1000 tons)` ELSE 0 END) -
      SUM(CASE WHEN c.year = (SELECT MAX(year) FROM crop_data) - 5 THEN c.`OILSEEDS PRODUCTION (1000 tons)` ELSE 0 END)) /
      SUM(CASE WHEN c.year = (SELECT MAX(year) FROM crop_data) - 5 THEN c.`OILSEEDS PRODUCTION (1000 tons)` ELSE 1 END)) * 100 AS growth_rate
FROM crop_data c
JOIN districts d ON c.district_id = d.district_id
JOIN states s ON d.state_id = s.state_id
GROUP BY s.state_name
ORDER BY growth_rate DESC
LIMIT 5;
"""         
cursor.execute(query)
out = cursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[c[0] for c in cursor.description], tablefmt="psql"))

+----------------+---------------+
| state_name     |   growth_rate |
|----------------+---------------|
| Andhra Pradesh |       44.6612 |
| Haryana        |       22.0023 |
| Uttarakhand    |        0      |
| Kerala         |        0      |
| Bihar          |        0      |
+----------------+---------------+

In [30]:
#4.District-wise Correlation Between Area and Production for Major Crops (Rice, Wheat, and Maize)
query = """
SELECT
    d.district_name,

    -- Rice Correlation
    (
        (
            SUM(c.`RICE AREA (1000 ha)` * c.`RICE PRODUCTION (1000 tons)`) -
            (SUM(c.`RICE AREA (1000 ha)`) * SUM(c.`RICE PRODUCTION (1000 tons)`)) / COUNT(*)
        ) /
        SQRT(
            (
                SUM(POWER(c.`RICE AREA (1000 ha)`, 2)) -
                POWER(SUM(c.`RICE AREA (1000 ha)`), 2) / COUNT(*)
            ) *
            (
                SUM(POWER(c.`RICE PRODUCTION (1000 tons)`, 2)) -
                POWER(SUM(c.`RICE PRODUCTION (1000 tons)`), 2) / COUNT(*)
            )
        )
    ) AS rice_correlation,

    -- Wheat Correlation
    (
        (
            SUM(c.`WHEAT AREA (1000 ha)` * c.`WHEAT PRODUCTION (1000 tons)`) -
            (SUM(c.`WHEAT AREA (1000 ha)`) * SUM(c.`WHEAT PRODUCTION (1000 tons)`)) / COUNT(*)
        ) /
        SQRT(
            (
                SUM(POWER(c.`WHEAT AREA (1000 ha)`, 2)) -
                POWER(SUM(c.`WHEAT AREA (1000 ha)`), 2) / COUNT(*)
            ) *
            (
                SUM(POWER(c.`WHEAT PRODUCTION (1000 tons)`, 2)) -
                POWER(SUM(c.`WHEAT PRODUCTION (1000 tons)`), 2) / COUNT(*)
            )
        )
    ) AS wheat_correlation,

    -- Maize Correlation
    (
        (
            SUM(c.`MAIZE AREA (1000 ha)` * c.`MAIZE PRODUCTION (1000 tons)`) -
            (SUM(c.`MAIZE AREA (1000 ha)`) * SUM(c.`MAIZE PRODUCTION (1000 tons)`)) / COUNT(*)
        ) /
        SQRT(
            (
                SUM(POWER(c.`MAIZE AREA (1000 ha)`, 2)) -
                POWER(SUM(c.`MAIZE AREA (1000 ha)`), 2) / COUNT(*)
            ) *
            (
                SUM(POWER(c.`MAIZE PRODUCTION (1000 tons)`, 2)) -
                POWER(SUM(c.`MAIZE PRODUCTION (1000 tons)`), 2) / COUNT(*)
            )
        )
    ) AS maize_correlation

FROM crop_data c
JOIN districts d ON c.district_id = d.district_id
GROUP BY d.district_name
ORDER BY d.district_name;
"""
cursor.execute(query)
out = cursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[c[0] for c in cursor.description], tablefmt="psql"))

+-----------------------------------------+--------------------+---------------------+---------------------+
| district_name                           |   rice_correlation |   wheat_correlation |   maize_correlation |
|-----------------------------------------+--------------------+---------------------+---------------------|
| 24 Parganas                             |         0.451063   |         0.805426    |          0.875017   |
| Adilabad                                |         0.815215   |         0.381896    |          0.683648   |
| Agra                                    |         0.977809   |         0.8627      |          0.505339   |
| Ahmedabad                               |         0.937127   |         0.88958     |          0.873605   |
| Ahmednagar                              |         0.752331   |         0.922799    |          0.946715   |
| Ajmer                                   |         0.429769   |         0.628425    |          0.0285864  |
| Akola                                   |         0.822196   |         0.604373    |          0.919626   |
| Alappuzha                               |         0.875658   |                     |                     |
| Aligarh                                 |         0.988188   |         0.927498    |          0.416776   |
| Allahabad                               |         0.894095   |         0.913926    |          0.772425   |
| Almorah                                 |         0.975352   |         0.942592    |          0.94887    |
| Alwar                                   |         0.808679   |         0.958855    |          0.246256   |
| Amarawati                               |         0.664416   |         0.737604    |          0.959728   |
| Ambala                                  |         0.983738   |         0.829904    |          0.9505     |
| Amreli                                  |         0.886081   |         0.953142    |          0.854796   |
| Amritsar                                |         0.978171   |         0.943954    |          0.893398   |
| Ananthapur                              |         0.737403   |         0.792199    |          0.958003   |
| Aurangabad                              |         0.857656   |         0.492628    |          0.873013   |
| Azamgarh                                |         0.92115    |         0.939074    |          0.418756   |
| Bahraich                                |         0.627442   |         0.91636     |          0.176359   |
| Balaghat                                |         0.701428   |         0.894401    |          0.831635   |
| Balasore                                |         0.0868092  |         0.977988    |          0.843985   |
| Ballia                                  |         0.82985    |         0.884164    |          0.719203   |
| Banaskantha                             |         0.936623   |         0.931191    |          0.432626   |
| Banda                                   |         0.192639   |         0.851235    |          0.758104   |
| Bangalore                               |         0.801173   |         0.915161    |          0.894812   |
| Bankura                                 |         0.517484   |         0.866488    |          0.605083   |
| Banswara                                |         0.226519   |         0.973308    |          0.77346    |
| Barabanki                               |         0.886058   |         0.825168    |          0.386437   |
| Bareilly                                |         0.901156   |         0.932015    |          0.904194   |
| Barmer                                  |                    |         0.422149    |          0.966937   |
| Bastar                                  |         0.722207   |         0.399082    |          0.905421   |
| Basti                                   |         0.467989   |         0.885031    |          0.562012   |
| Beed                                    |         0.785569   |         0.639644    |          0.863002   |
| Belgaum                                 |         0.337215   |         0.348415    |          0.938224   |
| Bellary                                 |         0.988668   |         0.912994    |          0.969031   |
| Betul                                   |         0.691158   |         0.918652    |          0.88377    |
| Bhagalpur                               |         0.00769178 |         0.764014    |          0.302544   |
| Bhandara                                |         0.768286   |         0.458015    |          0.770319   |
| Bharatpur                               |         0.503713   |         0.943847    |          0.379609   |
| Bharuch                                 |         0.644428   |         0.585393    |          0.928956   |
| Bhatinda                                |         0.99005    |         0.963455    |          0.973995   |
| Bhavnagar                               |         0.841725   |         0.908673    |          0.941852   |
| Bhilwara                                |         0.921682   |         0.880198    |          0.669661   |
| Bhind                                   |         0.711501   |         0.900136    |          0.759617   |
| Bidar                                   |         0.553178   |         0.886826    |          0.885357   |
| Bijapur / Vijayapura                    |         0.907328   |         0.470397    |          0.974289   |
| Bijnor                                  |        -0.303364   |         0.418804    |          0.908659   |
| Bikaner                                 |         0.742275   |         0.966507    |          0.960321   |
| Bilashpur                               |         0.720993   |         0.629147    |          0.672217   |
| Bilaspur                                |         0.748602   |         0.447275    |          0.00934759 |
| Birbhum                                 |         0.79332    |         0.782064    |          0.813272   |
| Bolangir                                |         0.666304   |         0.97779     |          0.775421   |
| Bombay                                  |         0.978927   |                     |          1          |
| Budaun                                  |         0.965298   |         0.943486    |          0.587504   |
| Buland Shahar                           |         0.992287   |         0.562433    |          0.692915   |
| Buldhana                                |         0.857931   |         0.703287    |          0.95277    |
| Bundi                                   |         0.832112   |         0.924693    |          0.62657    |
| Burdwan                                 |         0.886037   |         0.942286    |          0.834888   |
| Cachar                                  |         0.667871   |         0.938731    |          0.48395    |
| Chamba                                  |         0.876762   |         0.64323     |          0.662429   |
| Chamoli                                 |         0.988253   |         0.954956    |          0.955791   |
| Champaran                               |         0.147129   |         0.777401    |          0.915654   |
| Chandrapur                              |         0.611068   |         0.236361    |          0.158729   |
| Chengalpattu Mgr / Kanchipuram          |        -0.00719121 |                     |          0.942066   |
| Chhatarpur                              |         0.677134   |         0.93431     |          0.995567   |
| Chhindwara                              |         0.324888   |         0.951122    |          0.935049   |
| Chickmagalur                            |         0.398776   |         0.998189    |          0.983818   |
| Chitradurga                             |         0.989331   |         0.74541     |          0.951536   |
| Chittoor                                |         0.793966   |         0.908901    |          0.94919    |
| Chittorgarh                             |         0.0474367  |         0.906051    |          0.810863   |
| Churu                                   |         1          |         0.967073    |                     |
| Coimbatore                              |         0.609528   |         0.870912    |          0.611696   |
| Cooch Behar                             |         0.0160648  |         0.894341    |          0.999486   |
| Cuttack                                 |        -0.342867   |         0.979409    |          0.750396   |
| Dakshina Kannada                        |         0.00167694 |         1           |          0.697734   |
| Damoh                                   |         0.88879    |        -0.181115    |          0.955853   |
| Dangs                                   |         0.893961   |         0.937969    |          0.944928   |
| Darbhanga                               |         0.502726   |         0.863817    |         -0.0144984  |
| Darjeeling                              |        -0.0777167  |         0.900756    |          0.146901   |
| Darrang                                 |         0.78204    |         0.958772    |          0.932178   |
| Datia                                   |         0.931897   |         0.965272    |          0.981857   |
| Dehradun                                |         0.0807249  |         0.142373    |          0.277376   |
| Deoria                                  |         0.856449   |         0.89903     |          0.316817   |
| Dewas                                   |         0.929473   |         0.939264    |          0.767194   |
| Dhanbad                                 |         0.660487   |         0.854945    |          0.812677   |
| Dhar                                    |         0.867833   |         0.945073    |          0.59177    |
| Dharwad                                 |         0.166204   |         0.207785    |          0.961161   |
| Dhenkanal                               |        -0.188984   |         0.897943    |          0.513137   |
| Dhule                                   |         0.651999   |         0.787371    |          0.966404   |
| Dibrugarh                               |         0.905545   |         0.965676    |          0.80182    |
| Dungarpur                               |         0.706913   |         0.914079    |          0.541313   |
| Durg                                    |         0.824753   |         0.435473    |          0.918186   |
| East Godavari                           |         0.646491   |                     |          0.957461   |
| Eranakulam                              |         0.973487   |                     |                     |
| Etah                                    |         0.828018   |         0.945117    |          0.564006   |
| Etawah                                  |         0.949396   |         0.954497    |         -0.152183   |
| Faizabad                                |         0.962604   |         0.952703    |          0.260671   |
| Farrukhabad                             |         0.761657   |         0.868277    |          0.631331   |
| Fatehpur                                |         0.555696   |         0.93592     |          0.57645    |
| Ferozpur                                |         0.98953    |         0.957721    |          0.967051   |
| Ganganagar                              |         0.891918   |         0.94765     |          0.871862   |
| Ganjam                                  |         0.0753297  |         0.83286     |          0.90127    |
| Garhwal                                 |         0.967365   |         0.94116     |          0.861665   |
| Gaya                                    |         0.189994   |         0.841262    |          0.238961   |
| Ghazipur                                |         0.912605   |         0.936259    |          0.936262   |
| Goalpara                                |         0.221953   |         0.935003    |          0.884742   |
| Gonda                                   |        -0.23711    |         0.84885     |          0.190656   |
| Gorakhpur                               |         0.790176   |         0.860031    |          0.584831   |
| Gulbarga / Kalaburagi                   |         0.960879   |         0.426077    |          0.93404    |
| Guna                                    |         0.612081   |         0.898768    |          0.288265   |
| Guntur                                  |         0.433883   |         0.676052    |          0.983265   |
| Gurdaspur                               |         0.967547   |         0.91765     |          0.609567   |
| Gurgaon                                 |         0.992887   |         0.918515    |          0.784323   |
| Gwalior                                 |         0.904681   |         0.824626    |          0.999007   |
| Hamirpur                                |         0.70006    |         0.785312    |          0.992837   |
| Hardoi                                  |         0.955714   |         0.950811    |          0.462185   |
| Hassan                                  |         0.651097   |         0.999224    |          0.930366   |
| Hazaribagh                              |         0.415117   |         0.907287    |          0.70751    |
| Hissar                                  |         0.991556   |         0.988176    |          0.94382    |
| Hooghly                                 |         0.905514   |         0.962148    |          0.976887   |
| Hoshangabad                             |         0.986756   |         0.956525    |          0.978378   |
| Hoshiarpur                              |         0.988889   |         0.841096    |         -0.366983   |
| Howrah                                  |         0.863726   |         0.906569    |          0.864692   |
| Hyderabad                               |         0.673988   |         0.907605    |          0.967709   |
| Indore                                  |         0.760152   |         0.848519    |          0.688801   |
| Jabalpur                                |         0.775963   |         0.853741    |          0.903177   |
| Jaipur                                  |         0.896351   |         0.906942    |          0.747294   |
| Jaisalmer                               |         1          |         0.859036    |          0.98955    |
| Jalandhar                               |         0.988657   |         0.683472    |          0.856882   |
| Jalaun                                  |         0.849219   |         0.678703    |          0.860373   |
| Jalgaon                                 |         0.861898   |         0.513758    |          0.975708   |
| Jalore                                  |         0.991099   |         0.476418    |          0.744919   |
| Jalpaiguri                              |        -0.502555   |         0.895627    |          0.926394   |
| Jamnagar                                |         0.915396   |         0.894336    |          0.91883    |
| Jaunpur                                 |         0.926418   |         0.933028    |          0.0298771  |
| Jhabua                                  |         0.0363451  |         0.968227    |          0.716509   |
| Jhalawar                                |         0.866633   |         0.946059    |          0.393187   |
| Jhansi                                  |         0.0136244  |         0.933766    |          0.709232   |
| Jhunjhunu                               |         1          |         0.967413    |                     |
| Jind                                    |         0.978007   |         0.968072    |          0.917055   |
| Jodhpur                                 |         1          |         0.869458    |          0.73094    |
| Junagadh                                |         0.877574   |         0.988584    |          0.99573    |
| Kadapa Ysr                              |         0.419919   |         0.91314     |          0.953639   |
| Kalahandi                               |         0.653495   |         0.92016     |          0.831153   |
| Kamrup                                  |         0.190301   |         0.956172    |          0.314923   |
| Kangra                                  |         0.67913    |         0.710304    |          0.78644    |
| Kannur                                  |         0.985387   |                     |                     |
| Kanpur                                  |         0.565466   |         0.930403    |          0.594472   |
| Kanyakumari                             |         0.5559     |                     |          0.902171   |
| Kapurthala                              |         0.961433   |         0.892711    |          0.842198   |
| Karbi Anglong                           |         0.887816   |         0.894723    |          0.503398   |
| Karimnagar                              |         0.977858   |         0.90581     |          0.826728   |
| Karnal                                  |         0.952979   |         0.851396    |          0.96954    |
| Keonjhar                                |        -0.244702   |         0.851683    |          0.682696   |
| Khammam                                 |         0.928129   |                     |          0.955694   |
| Khandwa / East Nimar                    |         0.812636   |         0.939255    |          0.990173   |
| Khargone / West Nimar                   |         0.804343   |         0.975134    |          0.923235   |
| Kheda                                   |         0.956696   |         0.979384    |          0.80514    |
| Kheri                                   |         0.799338   |         0.847522    |          0.859188   |
| Kinnaur                                 |         0.999692   |         0.930053    |          0.949141   |
| Kodagu / Coorg                          |         0.393355   |         1           |          0.954914   |
| Kolar                                   |         0.909054   |         0.894482    |          0.925388   |
| Kolhapur                                |         0.811365   |         0.763282    |          0.923142   |
| Kollam                                  |         0.956745   |                     |                     |
| Koraput                                 |         0.647169   |         0.949231    |          0.926917   |
| Kota                                    |         0.958717   |         0.854313    |          0.561716   |
| Kottayam                                |         0.898433   |                     |          0.792963   |
| Kozhikode                               |         0.989034   |                     |                     |
| Krishna                                 |         0.217209   |                     |          0.983628   |
| Kullu                                   |         0.849725   |         0.7925      |          0.711511   |
| Kurnool                                 |         0.688085   |         0.735929    |          0.988297   |
| Kutch                                   |                    |         0.94892     |          0.962725   |
| Lahul & Spiti                           |         1          |         0.877425    |          0.99615    |
| Lakhimpur                               |         0.753588   |         0.953221    |          0.508859   |
| Lucknow                                 |         0.747924   |         0.902408    |          0.585781   |
| Ludhiana                                |         0.979927   |         0.761716    |          0.991599   |
| Madurai                                 |         0.46133    |         0.776566    |          0.852553   |
| Mahabubnagar                            |         0.849789   |         0.536035    |          0.844393   |
| Mahendragarh / Narnaul                  |         0.988781   |         0.95484     |          0.995961   |

In [31]:
#5.Yearly Production Growth of Cotton in Top 5 Cotton Producing States
query = """
SELECT 
    s.state_name,
    ((SUM(CASE WHEN c.year = (SELECT MAX(year) FROM crop_data) THEN c.`COTTON PRODUCTION (1000 tons)` ELSE 0 END) -
      SUM(CASE WHEN c.year = (SELECT MAX(year) FROM crop_data) - 1 THEN c.`COTTON PRODUCTION (1000 tons)` ELSE 0 END)) /
      SUM(CASE WHEN c.year = (SELECT MAX(year) FROM crop_data) - 1 THEN c.`COTTON PRODUCTION (1000 tons)` ELSE 1 END)) * 100 AS growth_rate
FROM crop_data c
JOIN districts d ON c.district_id = d.district_id
JOIN states s ON d.state_id = s.state_id
GROUP BY s.state_name
ORDER BY growth_rate DESC
LIMIT 5;
"""
cursor.execute(query)
out = cursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[c[0] for c in cursor.description], tablefmt="psql"))

+----------------+---------------+
| state_name     |   growth_rate |
|----------------+---------------|
| Gujarat        |       96.0516 |
| Karnataka      |       79.6895 |
| Telangana      |       50.8043 |
| Andhra Pradesh |       33.4254 |
| Chhattisgarh   |       32.7381 |
+----------------+---------------+

In [35]:
#6. Districts with the Highest Groundnut Production in 2020
query = """
SELECT 
    d.district_name,
    SUM(c.`GROUNDNUT PRODUCTION (1000 tons)`) AS total_groundnut_production
FROM crop_data c    
JOIN districts d ON c.district_id = d.district_id
WHERE c.year = 2020
GROUP BY d.district_name
ORDER BY total_groundnut_production DESC
LIMIT 5;
"""

cursor.execute(query)
out = cursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[c[0] for c in cursor.description], tablefmt="psql"))

+-----------------+------------------------------+
| district_name   | total_groundnut_production   |
|-----------------+------------------------------|
+-----------------+------------------------------+

In [ ]:
#7.Annual Average Maize Yield Across All States
query = """
SELECT 
    year,
    AVG(`MAIZE YIELD (Kg per ha)`) AS avg_maize_yield,
FROM crop_data
GROUP BY year
ORDER BY year;
"""
cursor.execute(query)
out = cursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[c[0] for c in cursor.description], tablefmt="psql"))

+--------+-------------------+
|   year |   avg_maize_yield |
|--------+-------------------|
|   1966 |           734.266 |
|   1967 |           869.54  |
|   1968 |           709.262 |
|   1969 |           781.477 |
|   1970 |          1094.18  |
|   1971 |           848.643 |
|   1972 |           895.126 |
|   1973 |           886.84  |
|   1974 |           852.937 |
|   1975 |          1026.01  |
|   1976 |           966.654 |
|   1977 |           946.525 |
|   1978 |           964.877 |
|   1979 |           984.162 |
|   1980 |          1067.09  |
|   1981 |          1119.51  |
|   1982 |          1189.24  |
|   1983 |          1314.56  |
|   1984 |          1226.57  |
|   1985 |          1057.79  |
|   1986 |          1078.99  |
|   1987 |           945.444 |
|   1988 |          1145.88  |
|   1989 |          1324.73  |
|   1990 |          1235.36  |
|   1991 |          1157.02  |
|   1992 |          1450.82  |
|   1993 |          1345.81  |
|   1994 |          1211.29  |
|   1995 |          1344     |
|   1996 |          1443.18  |
|   1997 |          1409.27  |
|   1998 |          1419.08  |
|   1999 |          1516.95  |
|   2000 |          1556.49  |
|   2001 |          1758.42  |
|   2002 |          1384.69  |
|   2003 |          1704.56  |
|   2004 |          1619.8   |
|   2005 |          1702.61  |
|   2006 |          1678.54  |
|   2007 |          1990.17  |
|   2008 |          1935.15  |
|   2009 |          1764.6   |
|   2010 |          2078.25  |
|   2011 |          2064.95  |
|   2012 |          2137.16  |
|   2013 |          2343.5   |
|   2014 |          2400.83  |
|   2015 |          2260.08  |
|   2016 |          2463.03  |
|   2017 |          2852.33  |
+--------+-------------------+

In [37]:
#8.Total Area Cultivated for Oilseeds in Each State
query = """
SELECT 
    s.state_name,
    SUM(c.`OILSEEDS AREA (1000 ha)`) AS total_oilseeds_area
FROM crop_data c
JOIN districts d ON c.district_id = d.district_id
JOIN states s ON d.state_id = s.state_id
GROUP BY s.state_name   
ORDER BY total_oilseeds_area DESC;
"""
cursor.execute(query)
out = cursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[c[0] for c in cursor.description], tablefmt="psql"))

+------------------+-----------------------+
| state_name       |   total_oilseeds_area |
|------------------+-----------------------|
| Madhya Pradesh   |           1.89946e+08 |
| Rajasthan        |           1.42433e+08 |
| Maharashtra      |           1.34069e+08 |
| Gujarat          |           1.30725e+08 |
| Karnataka        |           9.25272e+07 |
| Andhra Pradesh   |           8.72235e+07 |
| Tamil Nadu       |           5.62256e+07 |
| Uttar Pradesh    |           4.30471e+07 |
| Orissa           |           3.9682e+07  |
| Telangana        |           3.52934e+07 |
| Kerala           |           3.43489e+07 |
| Haryana          |           2.14655e+07 |
| West Bengal      |           2.03008e+07 |
| Chhattisgarh     |           1.72671e+07 |
| Assam            |           1.41766e+07 |
| Punjab           |           8.69793e+06 |
| Bihar            |           5.53629e+06 |
| Jharkhand        |           2.82629e+06 |
| Uttarakhand      |      993530           |
| Himachal Pradesh |      799250           |
+------------------+-----------------------+

In [38]:
#9.Districts with the Highest Rice Yield
query = """
SELECT 
    d.district_name,
    AVG(c.`RICE YIELD (Kg per ha)`) AS avg_rice_yield
FROM crop_data c
JOIN districts d ON c.district_id = d.district_id       
GROUP BY d.district_name
ORDER BY avg_rice_yield DESC
LIMIT 5;
"""
cursor.execute(query)
out = cursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[c[0] for c in cursor.description], tablefmt="psql"))

+-----------------+------------------+
| district_name   |   avg_rice_yield |
|-----------------+------------------|
| Ludhiana        |          3650.43 |
| Sangrur         |          3532.9  |
| Thirunelveli    |          3387.51 |
| Bhatinda        |          3363.16 |
| Madurai         |          3276.98 |
+-----------------+------------------+

In [1]:
#10.Compare the Production of Wheat and Rice for the Top 5 States Over 10 Years
query = """
SELECT
    s.state_name,
    c.year,
    SUM(c.`WHEAT PRODUCTION (1000 tons)`) AS total_wheat_production,
    SUM(c.`RICE PRODUCTION (1000 tons)`) AS total_rice_production   
FROM crop_data c
JOIN districts d ON c.district_id = d.district_id
JOIN states s ON d.state_id = s.state_id
GROUP BY s.state_name, c.year
ORDER BY s.state_name, c.year
LIMIT 50;
""" 
cursor.execute(query)
out = cursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[c[0] for c in cursor.description], tablefmt="psql"))

NameError: name 'cursor' is not defined